.home-heading {
    margin: 0;
    padding: .5em;
}

.filters {
    white-space: pre;
}

.current-navigation {
    /* borrowed from bg-info */
    background: #d9edf7;
}

.navigation-name {
    padding: 1em;
    font-size: 120%;
}

.navigation-search {
    position: absolute;
    right: 0;
    top: 0;
    bottom: -1px; /* hide the border */
    padding-top: 1em;
}

legend.station-subtitle {
    margin-top: 1em;
    margin-bottom: 0;
}

a.macro {
    font-size: 1.5em;
    padding: 1.5em;
}

.keyboard-container {
    padding: 1em;
}
.app {
    background:#000;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.list-group-item > .loading-spinner {
    position: relative;
    margin-top: 0;
}
a.list-group-item,
.list-group-item {
    background-color: rgba(28,15,0,.85);
    border: 1px solid #c06400;
    fill: #ccc;
    color:#fff;
}
.list-group-item a,
.list-group-item a div,{
    color:#fff;
}
.modal-body {
    padding: 1em;
}
.modal .section {
    padding-left: 0;
    padding-right: 0;
}

.modal-scrollable .modal-body {
    /** unfortunately breaks footers... */
    height: 100%;
}

.list-group-item.row {
    /* 
     * default margin-right: -15 causes the
     * viewport to scroll horizonally;
     * we can fake the look by getting rid of
     * both the padding-right and margin-right
     */
    margin-right: 0;
    padding-right: 0;
}

.clear-input {
    position: absolute;
    right: .5em;
    top: 0;
    bottom: 0;
}

.hidden {
    display: none;
}
button,
.btn-primary,
.btn-primary.active, .btn-primary:active, .btn-primary:focus, .open>.dropdown-toggle.btn-primary {
    color:#ff8c0d;
    background-color: rgba(28, 15, 0, 0.85098);
    border:1px solid rgb(255, 140, 13);
}

button.btn-primary:hover {
    background:#ccc;
}

.navbar-app {
    color:#ff8c0d;
    background-color: rgba(28, 15, 0, 0.85098);
    border:1px solid rgb(255, 140, 13);
}

.navbar-app .btn, .navbar-app .btn-navbar {
    color:#fff;
}

.navbar-app .btn-navbar:hover, .navbar-app .btn:hover {
    color:#ccc;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    color:#000;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Eurostile,Helvetica,sans-serif;
}

a.fav {
    color:rgb(255, 140, 13);
}
a.notFav {
    color:#fff;
}
.systemDetails textarea {
    width:90%;
    font-size:1.5em;
    min-height:8em;
}